{% extends "layouts/base.html.twig" %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-6">Tasks</h1>

    <div class="bg-white p-6 rounded-lg shadow">
        Your tasks
    </div>
{% endblock %}